.categories{
    @apply pt-[5rem] pb-[4.6rem] border-b;
} 
.categ-container{
    @apply border pt-[1.5rem] pb-[1.5rem] pr-[2rem] pl-[2rem] flex flex-col rounded-[4px] items-center justify-center;
}
.category:hover img{
filter: brightness(0) invert(1);
}
.category:hover p{
    color: white;
}
.categ-container:hover{
    background-color: #DB4444;
}