.addform {
  width: 650px;
  height: 550px;
  background: white;
  display: grid;
  grid-template-columns: 40% 5% 55%;
  grid-template-rows: 10% 90%;
}

.add-prod {
  grid-column: 1/ span 3;
  grid-row: 1 ;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0px;
}

.bi-house-fill, .bi-person, .bi-box, .bi-cart4, .bi-cart2, .bi-box-arrow-right{
  transition: transform 0.4s ease, color 0.3s ease;
}

.bi-house-fill:hover,
.bi-person:hover,
.bi-box:hover,
.bi-cart4:hover,
.bi-cart2:hover,
.bi-box-arrow-right:hover {
  transform: rotate(45deg) scale(1.5);
  color: lightskyblue; /* Change the color to your desired hover color */
}

.form-im {
  grid-column: 1;
  grid-row: 1/span 2;
  background-image: url('https://i.pinimg.com/236x/45/dd/e9/45dde9abda3759ea74dc7959ac7e6227.jpg');
  background-repeat: no-repeat;
  background-size: contain;
 
  background-position: bottom;


}

.form-item-div{
  background: rgba(211, 211, 211, 0.644);
  height:60px;
  border-bottom: 5px solid rgb(255, 255, 255); /* Light grey line for every row */
  padding-top: 0px;

  


}

.form-qs {
  background: white;
  grid-column: 3;
  grid-row: 2;
}



.primary{
    color: orange;
    
}

.font-xl{
    font-size: 72px;
}

.back {
  
  display: grid;
  background-color: #f5f5f5;
  grid-template-columns: [first] 200px [line3] auto [col4-start] 200px [five] 2px [end];
  grid-template-rows: [row1-start] 20px [row1-end] 30px [third-line] auto [last-line];
  grid-column: maincheckout;

  
}




.container {
  
  background-color: white;
  
  grid-column: line3;
  grid-row: third-line;
  border: 1px solid lightgrey; /* Grey outline */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow */
  padding: 35px;
  padding-top: 15px; /* Reduce the padding at the top */

  display: grid ;
  grid-template-columns: [leftchild] auto [middlechild] 25% [rightchild] 25% ;
  grid-template-rows: [topchild] auto [middlechildvert] 120px [bottomchild] 50px ;


  }




/* Proceed to checkout Button properties */
  .proceed {
    background-color: #4CAF50; /* Green background color */
    color: #fff; /* White text color */
    padding: 10px 20px; /* Adjust padding as needed */
    border: none; /* Remove border */
    border-radius: 4px; /* Rounded corners */
    font-size: 16px; /* Adjust font size as needed */
    cursor: pointer; /* Show pointer cursor on hover */

    grid-row: bottomchild;
    grid-column: middlechild;

    
  }

  .buttonLink {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px; 
    text-decoration: none;
    color: #fff;

    grid-row: bottomchild;
    grid-column: rightchild;

    


  }
  
  .buttonLink:hover {
    background-color: #e5e5e5;
  }
  
  
  .proceed:hover {
    background-color: #ccc;
    color: #fff;
    cursor: pointer;
  }

  .cart-header{
    grid-row: row1-end;
    grid-column: line3;
    text-align: center;
    font-family: Roboto;
    color: rgb(2, 2, 65);
  }

  .centre-table{
    grid-row: topchild;
    grid-column: 1 / -1;

  }

  .checkout-table {
    /*width: 200px; */
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    border: none;
  }
  
  .checkout-table th,
  .checkout-table td {
    padding: 8px;
    border-bottom: 1px solid white;
  }

  .checkout-table img.cart-image{
    max-width: 100px; /* Adjust the maximum width as needed */
    max-height: 100px; /* Adjust the maximum height as needed */
  }
  
  .checkout-table th {
    background-color: white;
    text-align: left;
    border-bottom: 1px solid lightgrey; /* Light grey line for every row */
    font-family: Roboto;
    color: rgb(2, 2, 65);
    font-size: medium;
  }


.checkout-table th.add {
    background-color: white;
    text-align: center;
}

  

  .checkout-table tbody tr{
    background-color: white;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);*/
    border-bottom: 2px solid lightgrey; /* Light grey line for every row */
  }
  
  
  .checkout-table tbody td {
    text-align: center;
  }

  .centered-h1, .addprod{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .addprod{
    grid-column: col1 / span 2;
    grid-row: row1;
    text-align: center;
  }

 

  .comments{
   
    grid-row: middlechildvert;
    grid-column: 2 / -1;
  }

  .custom-sidebar {
    background-color: #ffffff;

    padding: 10px;
    /* Add any other desired styles */
  }


  .custom-navbar{
      background: white;

      display: grid;
      grid-template-columns: [leftcheckout] 20% [maincheckout] 80%;
     

  }

  .custom-navbar-left{
    background: black;
    grid-column: leftcheckout;
    margin-left: 100 px;
  }
  

  .desc{
    font-size: 14px;
    text-align: left;
    color: rgb(200, 200, 200); 
    

  }

  .drag-to-upload {
    border: 2px dashed grey;
    background-color: lightgrey;
    /*width: 200px; /* Adjust the width to your preference */
    /*height: 200px; /* Adjust the height to your preference */
    text-align: center;
    line-height: 200px; /* Adjust the line-height to center content vertically */
    height: 250px;
  
  }
  
  .drag-to-upload:hover {
    border-color: darkgrey;
  }

  .icon-style, .icon-style1 {
    font-size: 24px; /* Adjust the size as needed */
    color: #ec644b; /* Change the color to your soft red*/
    
  }

  .icon-style{
    grid-column: inc;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon-style1{
    grid-column: dec;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imenlarge {
    max-width: 100%;
    max-height: 200px;
    transition: transform 0.3s ease;
  }
  
  .imenlarge:hover {
    transform: scale(1.15);
  }

  .quantity{
    background: white;
    grid-column: num;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border-color: #ec644b;
    border: 1px solid #ec644b;
    height: 27px;
    
    
  }


  

  .incdec{
    width: 85px;
    height: 30px;

    display: grid;
    grid-template-columns: [inc] 33% [num] 33% [dec] 33%;
  }
  

  .invisible-button {
    background: none;
    border: none;
    padding-bottom: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .mainshop-div{
    background: white;
    border-radius: 0px;
    padding-left : 5px;
    width: 1300px;
    display: grid;
    grid-template-columns: [leftshop] 40% [rightshop] 60%;
    /*grid-template-rows: [topupload] 80% [middleuploadvert] auto [bottomupload] auto ;*/

  }

  .nav-item, .nav-link {
  font-family: 'Raleway';
  /*font-weight: 800;*/
  padding: 10px;
  height: 60px;
  width: 300px;
  border-radius: 10px 20px 30px 40px;
  color: white; 
  font-size: large;

  display: flex;
  align-items: center;
}

.nav-link:hover{
  color: black

}

.nav-item:hover {
  background-color: white;
  border-radius: 0px;
  color: black; 
}
  

  .notification {
    height: 155px;
    background-color: #ccc;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    display: flex;
    justify-content: center;
  }

  .shop-banner{
    border-radius: 1px;
    height: 700px;
    grid-column: leftshop;
    width:450px;

  }
  

  textarea {
    width: 450px;
    height: 70px;
    padding: 2px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;

  }
  

#orderConfirmed {
    height: 100%; /* Set the height of the document to 100% */
    
   
    justify-content: center; /* Center horizontally */

   
    align-items:center;
    margin-top: 250px;
    max-width: 800px;
    
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
   


}

.leftdiv{
  background-color: #f5f5f5;
  grid-column: first;
  grid-row: third-line;
}

.rightdiv{
  background-color: #f5f5f5;
  grid-column: col4-start;
  grid-row: third-line;
}

.upload-h3{
  text-align: left;
  font-family: Roboto Light;
  color: rgb(0, 0, 0);
  font-size: medium;
}

.upload-h2{
  text-align: left;
  border-bottom: 1px solid lightgrey; /* Light grey line for every row */
  font-family: Roboto Light;
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.upload-div{
  display: grid;
  width:700px;
  height:330px;
  grid-template-columns: [leftupload] 47%[middleupload] 6% [rightupload] 47%;
  grid-template-rows: [topupload] 80% [middleuploadvert] auto [bottomupload] auto ;
}

.leftupload-div{
  
  grid-row: topupload;
  grid-column: leftupload;


}

.rightupload-div{
  
  grid-row: topupload;
  grid-column: rightupload;
}

.buttonupload-div{
  display: flex;
 
  grid-row: middleuploadvert;
  grid-column: leftupload;
  justify-content: center;
  align-items: center;

}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}



.popup-content {
  position: relative;
  width: 720px;
  background-color: white;
  padding: 20px;
}

.close-button {
  position: absolute;
  top: 10px; /* Adjust the top value to position the button vertically */
  right: 10px; /* Adjust the right value to position the button horizontally */
}


.products {
  
  display: grid;
 

  grid-column: maincheckout;

  
}

.products-list{
  grid-column: rightshop;
  
}

.product-mini-div {
 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 600px;
  width: 700px;

}

.black-button{
 
    background-color: black; /* Green background color */
    color: #fff; /* White text color */
    padding: 10px 20px; /* Adjust padding as needed */
    border: none; /* Remove border */
    border-radius: 4px; /* Rounded corners */
    font-size: 16px; /* Adjust font size as needed */
    cursor: pointer; /* Show pointer cursor on hover */


    
  }

