.contact{
    @apply grid grid-cols-[15rem_1fr] gap-8 pt-[3.75rem] pl-[5rem] pr-[8rem];
}
.input-container{
    @apply flex items-center gap-8 pb-8;
}
.input-container input{
    @apply pt-[0.81rem] pb-[0.81rem] pl-4 bg-[#F5F5F5] outline-none rounded-[5px];
}
textarea{
    @apply bg-[#F5F5F5] pt-12 pl-12 outline-none w-full;
}