.contact{
    @apply grid grid-cols-[15rem_1fr] gap-8 pt-[3.75rem] pl-[8rem] pr-[8rem];
}
.input-container{
    @apply border flex items-center gap-8 pt-[2.5rem] pl-4 pr-4;
}
.input-container input{
    @apply pt-[0.81rem] pb-[0.81rem] pl-4 bg-[#F5F5F5] outline-none rounded-[5px];
}