.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.previous-button,
.next-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.previous-button:hover,
.next-button:hover {
  background-color: #0056b3;
}

.previous-button i,
.next-button i {
  margin-right: 5px;
}