.navbar{
@apply flex ml-[8.43rem] mr-[8.43rem] mt-[2.3rem] mb-4 text-2xl;
}
.exclusive{
    @apply mr-[14.5rem] font-bold ;
}
.nav-items{
    @apply flex gap-8 mr-[13.12rem];
}
.search{
    @apply flex;
}