.navbar{
@apply flex pl-[5rem] pr-[5rem] pt-[2.3rem] pb-4 border-b-[1px];
}
.exclusive{
    @apply mr-[14.5rem] font-bold text-2xl;
}
.nav-items{
    @apply flex gap-8 mr-[13.12rem];
}
.search{
    @apply flex gap-[2.3rem] bg-[#F5F5F5] pt-[0.62rem] pb-[0.62rem] pl-[1.25rem] pr-[0.75rem] rounded-[5px];
}
.search img{
    @apply w-[1.5rem] h-[1.5rem];
}