.sidebar{
    @apply  h-[21.5rem] p-4 overflow-auto;
}
.sidebar-item{
    padding: 1rem;
    display: block;
    transition:background-color .15s;
    border-radius: 5px;
}
.sidebar-item:hover{
    background-color: brown;
}
.sidebar-title{
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
}
.sidebar-item.open .sidebar-title .toggle-btn{
    cursor: pointer;
    transition: transform .3s;
}
.sidebar-item.open  > .sidebar-title .toggle-btn{
   transform: rotate(180deg);
}
.sidebar-content{
padding-top: .25em;
height: 0;
overflow: hidden;
}
.sidebar-item.open > .sidebar-content{
    height: auto;
}
.sidebar-item.plain{
    color: white;
    text-decoration: none;
}
.sidebar-item.plain:hover{
   text-decoration: underline;
}
.sidebar-item.plain{
  display: inline-block;
  width: 2rem;
}