.sidebar{
    @apply  h-[21.5rem] p-4 overflow-auto;
}
.sidebar-item{
    padding: 1rem;
    display: block;
}
.sidebar-item:hover{
    background-color: brown;
}
.sidebar-title{
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
}
.sidebar-title .toggle-btn{
    cursor: pointer;
}
/* .sidebar-content{

} */