.sidebar{
    @apply  h-[100%] p-4 overflow-auto;
}
.sidebar-item{
    padding: 1rem;
    display: block;
    transition: background-color .15s;
}
.side-flex{
    @apply flex items-center justify-between p-4 ;
}
.side-flex .toggle-btn{
    cursor: pointer; 
    transition: transform .3s;
}
.side-flex .toggle-btn{
transform: rotate(180deg);
}
/* .open{
    @apply rotate-180;
} */